

#App{
height: 100%;

}
#AppContainer{
    display: flex;
    flex-direction: column;
    height: 100%; 
}
#AppBody{

 height: 100%;

}

#contenedorGeneral{ 
  display: flex;
  height: 100%;
}
#contenido{
}

#sidebar{
background: #f8f9fa;
border-right:1px solid #b1b1b1;
}
.sidebar-header{
background:#ebebeb;
padding: 5px;
margin-top:1em;

padding:1em;
color:#bbbbbb;
}

.sidebar-body{
    list-style-type:none;
    padding:0;
}

.sidebar-body li{
    padding: 1em;
    width: 100%;
}
.sidebar-body a:hover{
    text-decoration: none; 
    background: #f4f5f6;
}
.sidebar-body a:focus{
    text-decoration: none; 
    background: #f4f5f6;
}
.sidebar-body button{
    width: 100%;
    padding-left: 0;
    text-decoration: none; 
}
.sidebar-item a{
    color:#7d7d7d;
}
.sidebar-body a{
    text-decoration: none; 
    width: 100%;
    padding:1em;
}
